<div class="container-fluid title">
  <div class="row">
    <div class="col-sm-12">
      <h2>About us</h2>
    </div>
  </div>
</div>

<div class="container-fluid cart-list">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6" >
      <p>联系电话：</p>
      <p>门店地址：</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" >
      <p>地图</p>
    </div>
  </div>
  <div class="row" style="margin: 30px -15px;">
    <div class="col-sm-12" >
      <blockquote>
        <p>我们要用我们的力量让Kingston的华人有饭吃</p>
        <footer><cite>BV创始人 RJ Lu</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
