<div class="container-fluid title">
  <div class="row">
    <div class="col-sm-12">
      <h2>Admin Dashboard</h2>
    </div>
  </div>
</div>

<div class="container-fluid cart-list" ng-controller="CartCtrl">

    <div class="col-xs-12 col-sm-2 blog-sidebar">
      <div class="widget">
        <h3>Admin Menu</h3>
        <ul>
          <li><a href="#/admin">Orders</a></li>
          <li><a href="#/admin/users">Users</a></li>
          <li><a href="#/admin/products">Products</a></li>
        </ul>
        <hr>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10">
      <table class="table text-center">
        <thead>
        <tr>
            <th class="text-center">Order Number</th>
            <th class="text-center">Order Owner</th>
            <th class="text-center" colspan="3">Order Detail</th>
            <th class="text-center">Status</td>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders">
            <td>{{ order.orderNumber}}</td>
            <td>{{ order.user.username}}</td>
            <td colspan="3">
            <table class="table table-stript">
              <thead>
                <tr>
                  <th class="text-center">Product Name</th>
                  <th class="text-center">Unit Price</th>
                  <th class="text-center">Quantity</th>
                <tr>
              </thead>
              <tbody>
              <tr ng-repeat="items in products |  filter: { orderId: order.id }">
                <td>{{items.name}}</td>
                <td>{{items.price}}</td>
                <td>{{items.qty }}</td>
              </tr>
              </tbody>
            </table>
            </td>
            <td> {{ order.status }}</td>
            <td>Edit/Delete(Coming Soon)</td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
